<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sm.graduation.accident.dao.AccidentRecordMapper">


    <select id="listAll" resultType="AccidentRecord">
        select * from accident_record
        <where>
            <if test="usr!=''">acc_time like concat("%",#{usr},"%") </if>
        </where>
    </select>



</mapper>
