<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sm.graduation.nurse.dao.NursingMapper">


    <select id="listAll" resultType="Nursing">
        select * from nursing
        <where>
            <if test="usr!=''">nurse_rank like concat("%",#{usr},"%") </if>
        </where>
    </select>



</mapper>
