<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sm.graduation.older.dao.OlderInfoMapper">

    <select id="listAll" resultType="OlderInfo">
        select * from older_info
        <where>
            <if test="usr!=''">older_name like concat("%",#{usr},"%") </if>
        </where>
    </select>



</mapper>
